/* FONTES EXTERNAS */
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,600&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex-l {
    display: flex;
    flex-direction: row;
}

.centraliza {
    max-width: 1024px;
    margin: 0 auto;    
}


.background-cabecalho {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background-color: wheat;

}


.titulo {
    padding-left: 10%;
    width: 100%;
    text-shadow: -1px -1px 5px #0a66c2;
    font-size: 2em;

}

.titulo a {
    color: #3f403a;
    text-decoration: none;
}

.background-nome{
    margin-top: 10vh;
    background-image: url('./assets/background_nome.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    
}

.nome {
    font-size: 4em;
    color: wheat;
    text-shadow: 1px 5px black;
    padding: 10%;
    height: 400px;

}

#sobre,
#experiencia,
#aperfeicoamento {
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 25px;

}

.sanfona-fechada {
    width: 90%;
    background-color: wheat;
    font-family: Genos;
    padding-left: 5%;
    border-radius: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.sanfona-fechada:hover {
    padding-left: 0;
    padding-right: 5%;
    background-color: #3f403a;
    color: wheat;
    text-align: right;
    transition: 0.6s;
    
}

.sanfona-aberta {
    box-shadow: 2px 2px 2px 2px #3f403a;
    background-color: #3f403a;
    color: wheat;
    border-radius: 15px 15px 0 0;
    width: 100%;
    text-align: right;
    padding-right: 5%;


}

.painel {
    width: 100%;
    padding: 5%;
    background-color: white;
    display: none;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px #3f403a;
    border-radius: 0 0 15px 15px;
    transition: 0.4s;
}

.painel-aberto {
    display: block;
}

.painel div {

    padding: 2%;
}

div h3,
li h4,
span {
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: #3f403a;
}

@media screen and (max-width:600px) {

    
    .background-nome {
        background-size: contain;
    }
    .nome {
        font-size: 2em;
        text-align: center;
    }


}

@media print {

    * {

        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        display: none;
    }

    .nome {
        font-size: 2em;
        color: black;
        text-shadow: none;
        padding: 5% 0;

    }

    .sanfona-fechada,
    .sanfona-aberta {

        display: block;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        padding-left: 5%;
        box-shadow: none;
        text-align: center;
        
    }

    .painel {
        display: block;
        padding: 0;
        color: black;
        box-shadow: none;
        
        
    }
    section div:first-of-type {
        display: block;
    }

    section div:last-of-type {
        page-break-after: always;
    }

    div h3,
    li h4,
    span {
        text-align: left;
        font-weight: bold;
    }

}